{{define "hello"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container">
        <h1>It is hello1.html. {{.Title}}</h1>
        <p>{{.Text}}</p>
        <pre class="code">{{.}}</pre>
        <p>Identifier define は該当ファイルのレイアウト名を定義すること。定義したレイアウトの名前は<code class="inline code">templates.ExecuteTemplate</code>の引数２番nameになります。レイアウト名はファイル名と関係ありません。</p>
    </div>
</body>
</html>
{{end}}